html {
    font-family: "Lucida Sans", sans-serif;
  }
  .footer{
     left: 0;
     bottom: 0;
     width: 100%;
     background-color:white;
     color: black;
     text-align: center;
  }
  
  a {
          background-color: transparent;
          text-decoration: none;
  }
  
  .a-blue {
          color: #0366d6;
          background-color: transparent;
          text-decoration: none;
  }
  
  .a-lightblue {
          color:#208fd4;
          background-color: transparent;
          text-decoration: none;
  }
  
  .button {
          background-color: #f1f8ff;
          border: none;
          color: #0366d6;
          padding: 10px 20px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          margin: 4px 2px;
          cursor: pointer;
          border-radius: 16px;
  }
  
  .img-rounded {
          border-radius: 50%;
          height: 350px;
  }
  
  .img-stats{
          height: 250px;
  }
  
  h1 {
          font-size: 250%;
  }
  
  h2 {
          font-size: 150%;
  }
  
  .h2-repo {
          font-size: 160%;
  }
  
  h3 {
          font-size: 140%;
  }
  
  .div-repos {
          width: 60%;
  }
  
  .div-blog{
          width: 57%;
  }
  
  .h2-blog{
          font-size: 120%;
  }
  
  .div-main {
          padding-top: 50px;
          padding-right: 30px;
          padding-bottom: 50px;
          padding-left: 80px;
          
  }
  .text-repo{
          font-size: 100%;
          color:#586069;
  }
  .text-info{
          font-size:100%; 
          color:#586069;
  }
  @media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 480px) {
  /* Styles */
  .div-repos{
          width: 100%;
  }
  h1{
          font-size: 150%;
  }
  h2{
          font-size: 70%;
  }
  .img-rounded {
          border-radius: 50%;
          height: 400px;
  }
  .img-stats{
          height: 330px;
  }
  h3 {
          font-size: 80%;
  }
  .text-info{
          font-size:50%; 
          color:#586069;
  }
  .text-repo{
          font-size: 140%;
          color:#586069;
  }
  .h2-repo {
          font-size: 150%;
  }
  .button-text{
          font-size: 180%;
  }
  .div-blog{
          width: 100%;
  }
  .h2-blog{
          font-size: 140%;
  }
  }